DataInt/flows.json
[{"id":"18e201800fb1ceaa","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"418202298d31837a","type":"inject","z":"18e201800fb1ceaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"start","payload":"","payloadType":"date","x":200,"y":740,"wires":[["06c42ee4ee957fc1"]]},{"id":"06c42ee4ee957fc1","type":"postgrestor","z":"18e201800fb1ceaa","name":"","query":"SELECT * FROM staistics;","postgresDB":"e2215d5bb5d50344","output":true,"outputs":1,"throwErrors":false,"x":450,"y":740,"wires":[["73130ce68eaed8a7"]]},{"id":"73130ce68eaed8a7","type":"function","z":"18e201800fb1ceaa","name":"function 1","func":"var data = [];\nvar i;\n\nfor (let i = 0; i < msg.payload.rows.length; i++) {\n    data.push({\n            \"location\": msg.payload.roes[i]['location'],\n            \"temperature\": msg.payload.roes[i]['temperature'],\n            \"humidity\": msg.payload.roes[i]['humidity'],\n            \"aqi\": msg.payload.roes[i]['aqi'],\n        });\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":740,"wires":[["08989c75b9cec990","2b7fe48e1fac5715"]]},{"id":"08989c75b9cec990","type":"ui_table","z":"18e201800fb1ceaa","group":"cd22c2ce1731678d","name":"","order":0,"width":0,"height":0,"columns":[],"outputs":0,"cts":false,"x":970,"y":740,"wires":[]},{"id":"2b7fe48e1fac5715","type":"debug","z":"18e201800fb1ceaa","name":"debug 1","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":940,"wires":[]},{"id":"6f7c0dee7d5682b9","type":"inject","z":"18e201800fb1ceaa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"hello","payload":"","payloadType":"date","x":280,"y":1080,"wires":[["95513da64d96b713"]]},{"id":"95513da64d96b713","type":"debug","z":"18e201800fb1ceaa","name":"debug 2","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":1080,"wires":[]},{"id":"e2215d5bb5d50344","type":"postgresDB","name":"PostgresConnection","throwErrors":true,"throwErrorsFieldType":"bool","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"healthplus","databaseFieldType":"str","ssl":"true","sslFieldType":"bool","max":"10","maxFieldType":"num","min":1,"minFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":10000,"connectionTimeoutFieldType":"num","user":"postgres","userFieldType":"str","password":"admin","passwordFieldType":"str"},{"id":"cd22c2ce1731678d","type":"ui_group","name":"Statistics","tab":"deb0a995fb604a05","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"deb0a995fb604a05","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]