Node-red/flows.json
[{"id":"46563d1f333441db","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e24cfc9aa22ad0ec","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f6632a0b053b2688","type":"ui_group","name":"Default","tab":"bf935b3542c6bc81","order":1,"disp":false,"width":"14","collapse":false,"className":""},{"id":"afe51ad183a2336f","type":"ui_group","name":"Default","tab":"eb9a8a9863c088c2","order":1,"disp":false,"width":"14","collapse":false,"className":""},{"id":"bf935b3542c6bc81","type":"ui_tab","name":"Alerts","icon":"dashboard","disabled":false,"hidden":false},{"id":"eb9a8a9863c088c2","type":"ui_tab","name":"Statistics","icon":"dashboard","disabled":false,"hidden":false},{"id":"40b27ce321a04396","type":"postgresDB","name":"PostgresConnection","throwErrors":true,"throwErrorsFieldType":"bool","host":"127.0.0.1","hostFieldType":"str","port":"5432","portFieldType":"num","database":"healthplus","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"postgres","userFieldType":"str","password":"admin","passwordFieldType":"str"},{"id":"317b7e4f997388f2","type":"ui_tab","name":"Emergencies","icon":"dashboard","disabled":false,"hidden":false},{"id":"d7112a744d425d21","type":"ui_group","name":"Default","tab":"317b7e4f997388f2","order":1,"disp":false,"width":"30","collapse":false,"className":""},{"id":"89ecdc252a1e44e1","type":"inject","z":"46563d1f333441db","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"start","payload":"","payloadType":"date","x":180,"y":560,"wires":[["8ec10adeda0abd71","ec8fc79cd3a01c5d","e24aa01122053264"]]},{"id":"d717c1fd9bb57d5b","type":"function","z":"46563d1f333441db","name":"function 1","func":"var data = [];\nvar i;\n\nfor (let i = 0; i < msg.payload.rows.length; i++) {\n    data.push({\n            \"location\": msg.payload.rows[i]['location'],\n            \"temperature\": msg.payload.rows[i]['temperature'],\n            \"apparenttemp\": msg.payload.rows[i]['apparenttemp'],\n            \"humidity\": msg.payload.rows[i]['humidity'],\n            \"wind\": msg.payload.rows[i]['wind'],\n            \"aqi\": msg.payload.rows[i]['aqi'],\n        });\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":80,"wires":[["855123a4eea83c2f","1568f6495ed5d4dc","f52e1d715eea1f55","f1fba9b5b7778301","d29c53642d9c8423","bcce37039087e8d5"]]},{"id":"855123a4eea83c2f","type":"debug","z":"46563d1f333441db","name":"debug 1","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":40,"wires":[]},{"id":"8ec10adeda0abd71","type":"postgrestor","z":"46563d1f333441db","name":"","query":"SELECT * FROM healthplus.alerts;","postgresDB":"40b27ce321a04396","output":true,"outputs":1,"throwErrors":false,"x":770,"y":80,"wires":[["d717c1fd9bb57d5b"]]},{"id":"1568f6495ed5d4dc","type":"ui_table","z":"46563d1f333441db","group":"f6632a0b053b2688","name":"Regions on alert of danger","order":0,"width":"14","height":"5","columns":[],"outputs":0,"cts":false,"x":1460,"y":120,"wires":[],"inputLabels":["Regions on alert of danger"]},{"id":"6ea6f024c884d457","type":"ui_gauge","z":"46563d1f333441db","name":"","group":"f6632a0b053b2688","order":1,"width":"4","height":"4","gtype":"donut","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b3a7","#7ee600","#ca3838"],"seg1":"35","seg2":"60","diff":true,"className":"","x":1440,"y":180,"wires":[]},{"id":"f52e1d715eea1f55","type":"function","z":"46563d1f333441db","name":"function 3","func":"var data;\n\ndata = msg.payload[0]['humidity'];\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":180,"wires":[["6ea6f024c884d457","d6929161123602c3"]]},{"id":"d6929161123602c3","type":"debug","z":"46563d1f333441db","name":"debug 3","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":220,"wires":[]},{"id":"6055617e9c0cbdf8","type":"ui_gauge","z":"46563d1f333441db","name":"","group":"f6632a0b053b2688","order":1,"width":"6","height":"5","gtype":"donut","title":"AQI","label":"","format":"{{value}}","min":"0","max":"500","colors":["#7ee600","#e6d600","#ca3838"],"seg1":"80","seg2":"150","diff":true,"className":"","x":1430,"y":280,"wires":[]},{"id":"f1fba9b5b7778301","type":"function","z":"46563d1f333441db","name":"function 2","func":"var data;\n\ndata = msg.payload[0]['aqi'];\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":280,"wires":[["6055617e9c0cbdf8","93a1b74bcb00c509"]]},{"id":"93a1b74bcb00c509","type":"debug","z":"46563d1f333441db","name":"debug 2","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":320,"wires":[]},{"id":"e970120b76ca4913","type":"ui_gauge","z":"46563d1f333441db","name":"","group":"f6632a0b053b2688","order":1,"width":"4","height":"4","gtype":"donut","title":"Temperature","label":"°C","format":"{{value}}","min":"-35","max":"70","colors":["#00cbe6","#3de600","#d84b4b"],"seg1":"10","seg2":"25","diff":true,"className":"","x":1470,"y":380,"wires":[]},{"id":"d29c53642d9c8423","type":"function","z":"46563d1f333441db","name":"function 4","func":"var data;\n\ndata = msg.payload[0]['temperature'];\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":380,"wires":[["e970120b76ca4913","8e6bbfb122bdbc18"]]},{"id":"8e6bbfb122bdbc18","type":"debug","z":"46563d1f333441db","name":"debug 4","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1430,"y":420,"wires":[]},{"id":"bcce37039087e8d5","type":"ui_text","z":"46563d1f333441db","group":"f6632a0b053b2688","order":4,"width":"14","height":"1","name":"","label":"List of regions on danger alert","format":"","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"23","color":"#000000","x":1470,"y":80,"wires":[]},{"id":"ec8fc79cd3a01c5d","type":"postgrestor","z":"46563d1f333441db","name":"","query":"SELECT * FROM healthplus.staistics;","postgresDB":"40b27ce321a04396","output":true,"outputs":1,"throwErrors":false,"x":430,"y":560,"wires":[["092f9abc58b4d345"]]},{"id":"092f9abc58b4d345","type":"function","z":"46563d1f333441db","name":"function 5","func":"var data = [];\nvar i;\n\nfor (let i = 0; i < msg.payload.rows.length; i++) {\n    data.push({\n            \"location\": msg.payload.rows[i]['location'],\n            \"temperature\": msg.payload.rows[i]['temperature'],\n            \"humidity\": msg.payload.rows[i]['humidity'],\n            \"aqi\": msg.payload.rows[i]['aqi'],\n        });\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":640,"wires":[["e8e436390e3f81de","595454b165245531","47333385b77f7897"]]},{"id":"e8e436390e3f81de","type":"function","z":"46563d1f333441db","name":"function 6","func":"var body = [];\nvar labels = [];\nvar data = [];\nvar series = [];\n\nmsg.payload.forEach(obj => {\n    labels.push(obj.location);\n    data.push(obj.temperature)\n});\n\n\nbody.push({ series: ['Cities'] , data, labels });\n\nmsg.payload = body;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":480,"wires":[["790f5d0fd5ab4430","09946991e2a28266"]]},{"id":"790f5d0fd5ab4430","type":"ui_chart","z":"46563d1f333441db","name":"","group":"afe51ad183a2336f","order":0,"width":"14","height":"6","label":"Average temperature per city","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1000,"y":440,"wires":[[]]},{"id":"09946991e2a28266","type":"debug","z":"46563d1f333441db","name":"debug 5","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":480,"wires":[]},{"id":"595454b165245531","type":"function","z":"46563d1f333441db","name":"function 7","func":"var body = [];\nvar labels = [];\nvar data = [];\nvar series = [];\n\nmsg.payload.forEach(obj => {\n    labels.push(obj.location);\n    data.push(obj.humidity)\n});\n\n\nbody.push({ series: ['Cities'] , data, labels });\n\nmsg.payload = body;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":560,"wires":[["1f3e4ef6ff13ccf8","b1562c89eadab4e4"]]},{"id":"1f3e4ef6ff13ccf8","type":"ui_chart","z":"46563d1f333441db","name":"","group":"afe51ad183a2336f","order":0,"width":"14","height":"6","label":"Average humidity per city","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":990,"y":540,"wires":[[]]},{"id":"b1562c89eadab4e4","type":"debug","z":"46563d1f333441db","name":"debug 6","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":580,"wires":[]},{"id":"47333385b77f7897","type":"function","z":"46563d1f333441db","name":"function 8","func":"var body = [];\nvar labels = [];\nvar data = [];\nvar series = [];\n\nmsg.payload.forEach(obj => {\n    labels.push(obj.location);\n    data.push(obj.aqi)\n});\n\n\nbody.push({ series: ['Cities'] , data, labels });\n\nmsg.payload = body;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":640,"wires":[["9709deef3906378d","d5ad013b78b09875"]]},{"id":"9709deef3906378d","type":"ui_chart","z":"46563d1f333441db","name":"","group":"afe51ad183a2336f","order":0,"width":"14","height":"5","label":"Average air quality index per city","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1010,"y":640,"wires":[[]]},{"id":"d5ad013b78b09875","type":"debug","z":"46563d1f333441db","name":"debug 7","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":680,"wires":[]},{"id":"e24aa01122053264","type":"postgrestor","z":"46563d1f333441db","name":"","query":"SELECT * FROM healthplus.eranalytics;","postgresDB":"40b27ce321a04396","output":true,"outputs":1,"throwErrors":false,"x":430,"y":380,"wires":[["5dc7b17ff559a5e4"]]},{"id":"625d3614ad1b4572","type":"ui_table","z":"46563d1f333441db","group":"d7112a744d425d21","name":"List of emergency records due to air conditions","order":0,"width":"26","height":"8","columns":[],"outputs":0,"cts":false,"x":860,"y":340,"wires":[],"inputLabels":["Regions on alert of danger"]},{"id":"d0310e5a4e429d20","type":"ui_text","z":"46563d1f333441db","group":"d7112a744d425d21","order":4,"width":"14","height":"1","name":"","label":"List of emergency records due to air conditions","format":"","layout":"row-left","className":"","style":true,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"23","color":"#000000","x":860,"y":300,"wires":[]},{"id":"ca131f33a248d3b6","type":"debug","z":"46563d1f333441db","name":"debug 8","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":260,"wires":[]},{"id":"5dc7b17ff559a5e4","type":"function","z":"46563d1f333441db","name":"function 9","func":"var data = [];\nvar i;\n\nfor (let i = 0; i < msg.payload.rows.length; i++) {\n    data.push({\n            \"id\": msg.payload.rows[i]['id'],\n            \"date\": msg.payload.rows[i]['date'],\n            \"condition\": msg.payload.rows[i]['condition'],\n            \"severity\": msg.payload.rows[i]['severity'],\n            \"temperature\": msg.payload.rows[i]['temperature'],\n            \"humidity\": msg.payload.rows[i]['humidity'],\n            \"aqi\": msg.payload.rows[i]['aqi'],\n            \"aqs\": msg.payload.rows[i]['aqs'],\n        });\n}\n\nmsg.payload = data;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":300,"wires":[["ca131f33a248d3b6","625d3614ad1b4572","d0310e5a4e429d20"]]}]